* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
}

#root {
  position: relative;
}

.w-100 {
  width: 100%;
}

/* -------------------- HEADER COMPONENT --------------------*/

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #EEEEEE;
  z-index: 5;
}

header .nav-box {
  background-color: #FFFFFF;
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 101px 0 101px;
}

header ul.nav {
  height: 100%;
  list-style-type: none;
  display: block;
  float: left;
}

header ul.nav li {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100%;
  padding: 0 16px 0 16px;
}

header ul.nav li.active {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
}

header .currency {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  width: 38px;
  margin-right: 22px;
  cursor: pointer;
}

header .currency .currency-switcher {
  position: absolute;
  right: -60px;
  top: 45px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  width: 114px;
}

header .backgound-overlay {
  height: 100vh;
  width: 100%;
  background: rgba(57, 55, 72, 0.22);
  position: absolute;
  z-index: 2;
}

.display-none {
  display: none !important;
}

header .currency .currency-option {
  padding: 8px 20px 8px 20px;
}

header .currency .currency-option:hover {
  background-color: #EEEEEE;
  transition-duration: 0.3s;
}

header .currency .currency-option.active {
  background-color: #EEEEEE;
}

header .currency .arrow {
  position: absolute;
  left: 76.47%;
  right: 20.59%;
  top: 53.75%;
  bottom: 38.75%;
}

header .currency .arrow.up {
  transform: rotate(0.5turn);
}

header .nav-right-part {
  display: flex;
  align-items: center;
}

/* -------------------- ITEMS COMPONENT --------------------*/

main {
  padding-top: 160px !important;
  padding: 0 101px 0 101px;
}

main .row {
  display: flex;
}

main .heading {
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}

main.category .catalogue {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
  padding-bottom: 191px;
}

main.category .catalogue a {
  text-decoration: none;
  color: #1D1F22;
}

/* -------------------- ITEM COMPONENT --------------------*/

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 386px;
  height: 444px;
  background: #FFFFFF;
  margin-top: 103px;
}

.item:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.item .item-img {
  width: 354px;
  max-height: 330px;
  position: relative;
  display: flex;
  justify-content: center;
}


.unavailable {
  filter: opacity(50%);
}

.unavailable-label {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: #8D8F9A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.item .item-img .img-fluid {
  max-width: 100%;
  max-height: 330px;
  height: auto;
}

.item .item-content {
  margin-top: 24px;
  width: 354px;
  padding: 0 16px 16px 16px;
}

.item .item-content h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.item .price {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.item .cart-button {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 15px;
  bottom: -26px;
  background: #5ECE7B;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item:hover .cart-button {
  display: flex;
}

/* -------------------- PDP COMPONENT --------------------*/

.pdp {
  display: flex;
}

.pdp .pictures {
  margin-right: 40px;
}

.pdp .item-card {
  position: relative;
}

.pdp .item-picture-dpd {
  width: 80px;
  margin-bottom: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.pdp .img-fluid {
  width: 100%;
  height: auto;
}

.pdp .item-card {
  width: 610px;
  height: 510px;
}

.pdp .item-info {
  padding-left: 100px;
  max-width: 300px;
  overflow: hidden;
}

.pdp .item-info .info-heading {
  margin-bottom: 43px;
}

.pdp .attribute {
  margin-bottom: 24px;
}

.pdp .item-info .heading-main {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.pdp .item-info .heading-seconadry {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-top: 16px;
}

.pdp .attribute-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}


.pdp .attribute .attribute-values {
  display: flex;
  margin-top: 8px;
}

.pdp .attribute-value {
  border: 1px solid #1D1F22;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.pdp .attribute .attribute-value.Size {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdp .attribute .attribute-value.Color {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: inline-block;
}

.pdp .attribute .attribute-value.default {
  padding: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdp .price-info {
  margin-top: 38px;
}

.pdp .price-amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  margin-top: 10px;
}

.pdp .add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #5ECE7B;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 20px;
  cursor: pointer;
  width: 292px;
  height: 52px;
  text-decoration: none;
  border: none;
}

.pdp .add-to-cart-button:disabled {
  background-color: #8D8F9A;
}

.pdp .item-description {
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
}

.pdp .input-hidden {
  display: none;
}

.pdp .input-size[type="radio"]:checked+label {
  background-color: #1D1F22;
  color: #FFFFFF;
}

.pdp .default:checked+label {
  background-color: #1D1F22;
  color: #FFFFFF;
}

.pdp .input-color:checked+label {
  outline-offset: 1px;
  outline: 1px solid #5ECE7B;
}

.pdp span.error {
  color: #e7513a;
  font-size: 13px;
}

.row {
  display: flex;
}

/* -------------------- CART COMPONENT --------------------*/

header .nav-right-part .cart-icon {
  position: relative;
}

header .nav-right-part .cart-icon .cart-pointer {
  cursor: pointer;
}

header .nav-right-part .cart-icon .cart {
  position: absolute;
  width: 325px;
  right: 0;
  background-color: #FFFFFF;
  top: 51px;
  z-index: 4;
}

.cart {
  max-height: 650px;
}

.cart .cart-items-overflow {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart .cart-items-overflow ::-webkit-scrollbar {
  display: none;
}

header .nav-right-part .cart-icon .cart .row {
  display: flex;
}

header .nav-right-part .cart-icon .cart .cart-items {
  padding: 32px 16px 32px 16px;
  overflow: auto;
}


header .nav-right-part .cart-icon .cart .cart-heading {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

header .nav-right-part .cart-icon .cart .cart-heading-count {
  font-weight: 500;
  line-height: 160%;

}

header .cart-icon .cartItemsCount {
  position: absolute;
  bottom: 12px;
  left: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D1F22;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 20px;
  height: 20px;
}

.cart .cart-item-info {
  width: 136px;
  max-height: 677px;
  overflow: auto;
}

.cart .cart-item {
  padding-top: 30px;
}

.cart .cart-item:first-child {
  padding-top: 0;
}

.cart .cart-item-info .name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}

.cart .cart-item-info .price {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding: 4px 0 8px 0;
}

.cart .attribute {
  padding-bottom: 8px;
}

.cart .attribute-value {
  border: 1px solid #1D1F22;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  margin-top: 8px;
}

.cart .attribute .attribute-value.Size {
  width: 30px;
  height: 22px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .attribute .attribute-value.Color {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-block;
}

.cart .attribute .attribute-value.Color:first-child {
  margin-left: 2px;
}

.cart .attribute .attribute-value.default {
  padding: 5px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .attribute .attribute-value.active {
  background-color: #1D1F22;
  color: #FFFFFF;
}

.cart .attribute .attribute-value.Color.active {
  outline-offset: 1px;
  outline: 1px solid #5ECE7B;
}

.cart .cart-item-count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  padding: 0 10px 0 10px;
}

.cart .cart-item-count .cart-button-count {
  width: 24px;
  height: 24px;
  border: 1px solid #1D1F22;
  background-color: #FFFFFF;
  cursor: pointer;
}

.cart .cart-item-img {
  height: 190px;
  width: 121px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart .cart-total-price {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.cart .cart-total-price span:first-child {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.cart .cart-total-price span:last-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.cart .cart-end-buttons {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  margin-top: 30px;
  justify-content: space-between;
  display: flex;
}

.cart .link-to-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 43px;
  background: #FFFFFF;
  border: 1px solid #1D1F22;
  text-decoration: none;
  color: #1D1F22;
}

.cart .check-out-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  background: #5ECE7B;
  color: #FFFFFF;
}

/* -------------------- CART OVERVIEW PAGE -------------------- */

.cart-overview .heading {
  padding-bottom: 55px;
}

.cart-overview .order {
  width: 100%;
  border-top: 1px solid #E5E5E5;
  padding: 25px 0 25px 0;
}

.order-list .order:last-child {
  border:1px solid black;
  /* border-bottom: 1px solid #E5E5E5; */
}

.order .item-order {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order .name {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.cart-overview .name-secondary {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  padding-top: 16px;
}

.order .price {
  padding-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.order .group {
  display: flex;
}

.order .attribute {
  padding-top: 16px;
}

.order .attribute-name {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.order .attribute-values {
  padding-top: 8px;
}

.order .attribute-value {
  border: 1px solid #1D1F22;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.order .attribute .attribute-value.Size {
  width: 63px;
  height: 45px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order .attribute .attribute-value.Color {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: inline-block;
}

.order .attribute .attribute-value.Color:first-child {
  margin-left: 2px;
}

.order .attribute .attribute-value.default {
  padding: 10px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order .attribute .attribute-value.active {
  background-color: #1D1F22;
  color: #FFFFFF;
}

.order .attribute .attribute-value.Color.active {
  outline-offset: 1px;
  outline: 1px solid #5ECE7B;
}

.order .item-count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  padding: 0 10px 0 10px;
  height: 100%;
}

.order .item-count .button-count {
  width: 45px;
  height: 45px;
  border: 1px solid #1D1F22;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  font-weight: 100;
}

.order .item-img {
  height: 288px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order-payment {
  padding-top: 32px;
}

.order-payment div {
  padding-top: 8px;
}

.order-payment .property {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-right: 10px;
}

.order-payment .value {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.order-payment .payment-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 279px;
  height: 43px;
  background: #5ECE7B;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  margin: 16px 0 16px 0;
}